# Nginx
AKASHIC_NGINX_PORT=8280
AKASHIC_ADMINER_AUTH_USER=admin
AKASHIC_ADMINER_AUTH_PASSWORD=adminer123

# Postgres
AKASHIC_POSTGRES_TLS=off  # on|off — forces TLS for TCP connections when on
AKASHIC_DATABASE_POSTGRES_USERNAME=admin
AKASHIC_DATABASE_POSTGRES_PASSWORD=postgres123
AKASHIC_DATABASE_POSTGRES_DB=akashic
AKASHIC_DATABASE_POSTGRES_HOST_PORT=5432

# Redis
AKASHIC_DATABASE_REDIS_PASSWORD=redis123
AKASHIC_DATABASE_REDIS_HOST_PORT=6379

# Loki
AKASHIC_LOKI_HOST_PORT=3100
AKASHIC_LOKI_API_URL=http://localhost:${AKASHIC_LOKI_HOST_PORT}/loki/api/v1/push

# Grafana
AKASHIC_GF_SECURITY_ADMIN_USER=admin
AKASHIC_GF_SECURITY_ADMIN_PASSWORD=grafana123
AKASHIC_GF_HOST_PORT=3000

# LDAP (use with --profile ldap)
AKASHIC_LDAP_ORGANISATION=Akashic
AKASHIC_LDAP_DOMAIN=akashic.local
AKASHIC_LDAP_ADMIN_PASSWORD=ldapadmin123
AKASHIC_LDAP_CONFIG_PASSWORD=ldapconfig123
AKASHIC_LDAP_HOST_PORT=389
AKASHIC_LDAP_LDAPS_HOST_PORT=636
AKASHIC_PHPLDAPADMIN_HOST_PORT=8090

# Akashic
AKASHIC_SECRET=password123
AKASHIC_TZ=Canada/Mountain

# Vault
AKASHIC_VAULT_ADDRESS=https://localhost:8200
AKASHIC_VAULT_TLS_CACERT=./certs/vault/root-ca.crt
AKASHIC_VAULT_USERNAME=admin
AKASHIC_VAULT_PASSWORD=vault123
AKASHIC_VAULT_HOST_PORT=8200
AKASHIC_VAULT_CLUSTER_PORT=8201
AKASHIC_PKI_CRL_BASE_URL=http://localhost:8280 # [optional] Used for AIA, replace with the actual URL
