# Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=akashic
POSTGRES_HOST_PORT=5432

# Redis
REDIS_PASSWORD=redis123
REDIS_HOST_PORT=6379

# Loki
LOKI_HOST_PORT=3100

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=grafana123
GF_HOST_PORT=3000

# Timezone
TZ=Canada/Mountain